.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


/*Estilos del formulario boostrap para contactenos*/

/**/

/*Cambar Color del footer*/
footer{
	background: #EEEEEE;
	padding: 20px;
}

/*Cambiar color de los titulos h2*/
h2{
	color: #E9896A !important
}

.navbar-inverse{
	background: #2B2E4A !important
}